# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/
.venv/
venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# Env & Config
.env
*.sqlite3
usage.db

# OS Files
.DS_Store
Thumbs.db
